extension-with-pojo-list/src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:pojo-list="http://www.mulesoft.org/schema/mule/pojo-list" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <pojo-list:recipe name="globalRecipe" description="d1" dishName="d2"/>
    <pojo-list:config name="PojoList_Config" doc:name="PojoList Config">
        <pojo-list:recipes>
            <pojo-list:recipe description="124" dishName="124"/>
        </pojo-list:recipes>
        <pojo-list:connection>
            <pojo-list:recipes>
                <pojo-list:recipe description="123" dishName="123"/>
            </pojo-list:recipes>
        </pojo-list:connection>
    </pojo-list:config>
    <flow name="dummy-flow">
        <pojo-list:operation-with-pojo-list config-ref="PojoList_Config" recipes="#[payload]" doc:name="PojoList"/>
    </flow>
    <flow name="dummy-flow1">
        <pojo-list:operation-with-pojo-list config-ref="PojoList_Config" doc:name="PojoList">
            <pojo-list:recipes>
                <pojo-list:recipe description="4" dishName="5"/>
            </pojo-list:recipes>
        </pojo-list:operation-with-pojo-list>
        <pojo-list:another-operation-with-pojo-list config-ref="PojoList_Config">
            <pojo-list:my-recipes>
                <pojo-list:recipe description="14" dishName="14"/>
                <pojo-list:recipe description="14" dishName="14"/>
            </pojo-list:my-recipes>
        </pojo-list:another-operation-with-pojo-list>
    </flow>
</mule>
