extension-with-map-list/src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:map-list="http://www.mulesoft.org/schema/mule/map-list"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/map-list http://www.mulesoft.org/schema/mule/map-list/current/mule-map-list.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">
    <map-list:config name="MapStringPojo_Config" mapParameters="#[['a':'1','b':'2']]" doc:name="MapStringPojo Config">
        <map-list:connection mapParameters="#[['a':'1','b':'2']]"/>
    </map-list:config>
    <flow name="dummy-flow">
        <map-list:operation-with-map config-ref="MapStringPojo_Config"  mapParameters="#[['a':'1','b':'2']]" requiredMaps="#[['a':'1','b':'2']]" doc:name="MapStringPojo">
            <map-list:content-maps>#[['a':'1','b':'2']]</map-list:content-maps>
        </map-list:operation-with-map>
    </flow>
</mule>
