mock-dynamic-connector/src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:mock="http://www.mulesoft.org/schema/mule/mockdyn"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/mockdyn http://www.mulesoft.org/schema/mule/mockdyn/current/mule-mockdyn.xsd">

    <mock:config name="mock-connector" username="xxx" password="yyy"/>

    <flow name="testQuery">
        <mock:query config-ref="mock-connector" query="dsql:select Name from User"/>
        <mock:create-client>
            <mock:client>
                <mock:client key="1" value-ref="#[payload]"/>
            </mock:client>
        </mock:create-client>
        <mock:get-client-from-account>
           <mock:account>
               <mock:account key="1" value-ref="#[payload]"/>
           </mock:account>
        </mock:get-client-from-account>
        <mock:get-employee type="Employee" />

    </flow>

</mule>
