extension-with-map-of-string-list-of-pojo/src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:basic="http://www.mulesoft.org/schema/mule/basic"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/basic http://www.mulesoft.org/schema/mule/basic/current/mule-basic.xsd">

    <basic:config name="config">
        <basic:connection/>
        <basic:map-parameters>
            <basic:map-parameter key="123" value="#[{'type':'APPLE','amount':'1.0'}]"/>
        </basic:map-parameters>
    </basic:config>
    <flow name="dummy-flow">
        <basic:operation-with-map config-ref="config">
            <basic:map-parameters>
                <basic:map-parameter key="asd">
                    <basic:ingredient value="#[payload]"/>
                </basic:map-parameter>
                <basic:map-parameter key="asd2" value="#[payload.2]"/>
            </basic:map-parameters>
        </basic:operation-with-map>
    </flow>

</mule>
