extension-with-pojo-list-with-list-field-no-expression/src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:pojo-list-with-list-field="http://www.mulesoft.org/schema/mule/pojo-list-with-list-field" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/pojo-list-with-list-field http://www.mulesoft.org/schema/mule/pojo-list-with-list-field/current/mule-pojo-list-with-list-field.xsd">

    <pojo-list-with-list-field:config name="config" recipes="#[payload]">
        <pojo-list-with-list-field:connection recipes="#[payload]"/>
    </pojo-list-with-list-field:config>
    <flow name="dummy-flow">
        <pojo-list-with-list-field:operation-with-pojo-list config-ref="config">
            <pojo-list-with-list-field:recipes>
              <pojo-list-with-list-field:recipe dishName="Dish 1" description="Description 1"/>
            </pojo-list-with-list-field:recipes>
        </pojo-list-with-list-field:operation-with-pojo-list>
    </flow>
</mule>
